.ml8 {
  margin-left: 8px;
}
.mr8 {
  margin-right: 8px;
}
.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.ellipsis {
  position: relative;
  line-height: 1 0.5em;
  max-height: 3em;
  overflow: hidden;
}
.ellipsis:before {
  content: ' . . .';
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 24px;
  padding-left: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(40%, #fff)
  );
  background: linear-gradient(to right, transparent, #fff 40%);
}
.ellipsis:after {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.point-outer {
  position: absolute;
  z-index: 20;
  -webkit-transition: all 0.8s cubic-bezier(0.39, -0.4, 0.83, 0.23) 0s;
}
.point-inner {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff6326;
  -webkit-transition: all 0.8s linear 0s;
}
.point-outer .point-pre {
  display: none;
}
.profile-intro-name-boxOpration {
  padding: 8px 16px 10px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.opt-letter-watch-box {
  color: #f5a523;
  font-size: 12px;
  width: 126px;
  height: 28px;
  border-radius: 14px;
  line-height: 26px;
  text-align: center;
}
.opt-letter-watch-box .bt-button {
  display: block;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  font-size: 14px;
}
.opt-letter-watch-box .personal-watch {
  background: linear-gradient(92deg, #ffba40 0%, #ff503e 37%, #ff2f50 81%, #ff1b40 100%);
  color: #fff;
  line-height: 26px;
  border-radius: 14px;
}
.opt-letter-watch-box .personal-watch:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #ff9a01),
    color-stop(34%, #ff503e),
    color-stop(66%, #ff2b36),
    to(#ff1b40)
  );
  background: linear-gradient(90deg, #ff9a01 0, #ff503e 34%, #ff2b36 66%, #ff1b40 100%);
  color: #fff;
}
.opt-letter-watch-box .personal-watch:active {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #ff9a01),
    color-stop(34%, #ff503e),
    color-stop(66%, #ff2b36),
    to(#ff1b40)
  );
  background: linear-gradient(90deg, #ff9a01 0, #ff503e 34%, #ff2b36 66%, #ff1b40 100%);
  color: #fff;
}
.opt-letter-watch-box .personal-letter {
  border: 1px solid #fc5531;
  background-color: #fff;
  color: #fc5531;
  line-height: 28px;
  border-radius: 14px;
}
.opt-letter-watch-box .personal-letter:hover {
  background: #fff5f2;
}
.opt-letter-watch-box .attented {
  position: relative;
  background: #fff;
  color: #555666;
  border: 1px solid #555666;
}
.opt-letter-watch-box .attented:hover {
  background: #fff;
  color: #555666;
}
.opt-letter-watch-box .attented:hover:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 14px;
  content: '取消关注';
  background: #fff;
  color: #555666;
}
.opt-letter-watch-box .attented:active {
  background: #f5f5f5;
}
div .customize {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 0;
  top: 0;
}
div .customize:hover {
  cursor: pointer;
}
div .customize img {
  width: 100%;
}

div .skin-template-model {
  overflow: hidden;
}
div .skin-template-model .skin-template-left {
  float: left;
  width: 96px;
  border-right: 1px solid #e9e9e9;
  padding: 18px 0;
}
div .skin-template-model .skin-template-left .skin-template-item {
  width: 100%;
  height: 70px;
  margin-top: 31px;
}
div .skin-template-model .skin-template-left .skin-template-item:first-child {
  margin-top: 3px;
}
div .skin-template-model .skin-template-left .skin-template-item a .icon-skin img {
  width: 48px;
  height: 48px;
  display: none;
  margin: auto;
}
div .skin-template-model .skin-template-left .skin-template-item a .icon-skin img .changed {
  display: block;
}
div .skin-template-model .skin-template-left .skin-template-item a .icon-skin p .icon-text {
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
  line-height: 17px;
}
div .skin-template-model .skin-template-right {
  float: right;
  width: 310px;
}
div .skin-template-model .skin-template-right .skin-template-scroll {
  overflow-y: auto;
  height: 216px;
  scrollbar-width: thin;
}
div .skin-template-model .skin-template-right .skin-template-scroll::-webkit-scrollbar {
  width: 3px;
}
div .skin-template-model .skin-template-right .skin-template-scroll::-webkit-scrollbar-thumb {
  width: 3px;
  height: 60px;
  background: #999aaa;
  border-radius: 3px;
}
div .skin-template-model .skin-template-right .skin-template-scroll ul .skin-list {
  display: none;
  overflow: hidden;
}
div
  .skin-template-model
  .skin-template-right
  .skin-template-scroll
  ul
  .skin-list
  li
  .skin-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  float: left;
  margin-left: 14px;
  margin-top: 17px;
  width: 135px;
  height: 92px;
  position: relative;
}
div
  .skin-template-model
  .skin-template-right
  .skin-template-scroll
  ul
  .skin-list
  li
  .skin-item:nth-child(1),
div
  .skin-template-model
  .skin-template-right
  .skin-template-scroll
  ul
  .skin-list
  li
  .skin-item:nth-child(2) {
  margin-top: 0;
}
div
  .skin-template-model
  .skin-template-right
  .skin-template-scroll
  ul
  .skin-list
  li
  .skin-item
  img {
  width: 133px;
  height: 90px;
}
div
  .skin-template-model
  .skin-template-right
  .skin-template-scroll
  ul
  .skin-list
  li
  .skin-item
  .isvip {
  width: 36px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 0;
}
div
  .skin-template-model
  .skin-template-right
  .skin-template-scroll
  ul
  .skin-list
  li
  .skin-item
  div
  .isvip {
  text-align: right;
  padding-right: 6px;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  z-index: 10;
}
div
  .skin-template-model
  .skin-template-right
  .skin-template-scroll
  ul
  .skin-list
  li
  .skin-item
  div
  .champion-skin {
  padding-right: 3px;
}
div
  .skin-template-model
  .skin-template-right
  .skin-template-scroll
  ul
  .skin-list
  li
  .skin-item
  div
  .skin-name {
  position: absolute;
  height: 22px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #fff;
}
div
  .skin-template-model
  .skin-template-right
  .skin-template-scroll
  ul
  .skin-list
  li
  .skin-item
  div
  .skin-name
  p {
  width: 104px;
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 10px;
  font-weight: 400;
  color: #6b6b6b;
  line-height: 22px;
}
div
  .skin-template-model
  .skin-template-right
  .skin-template-scroll
  ul
  .skin-list
  li
  .skin-item
  div
  .skin-name
  img {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 16px;
  height: 12px;
}
div
  .skin-template-model
  .skin-template-right
  .skin-template-scroll
  ul
  .skin-list
  li
  .skin-item
  div
  .skin-name
  img
  .hover-eyes {
  display: none;
}
div
  .skin-template-model
  .skin-template-right
  .skin-template-scroll
  ul
  .skin-list
  li
  .skin-item:hover {
  border: 1px solid #4d4d4d;
  cursor: pointer;
}
div
  .skin-template-model
  .skin-template-right
  .skin-template-scroll
  ul
  .skin-list
  li
  .skin-item:hover
  img
  .hover-eyes {
  display: block !important;
}
div
  .skin-template-model
  .skin-template-right
  .skin-template-scroll
  ul
  .skin-list
  li
  .skin-item:hover
  img
  .normal-eyes {
  display: none !important;
}
div
  .skin-template-model
  .skin-template-right
  .skin-template-scroll
  ul
  .skin-list
  li
  .skin-item-act {
  border: 1px solid #4d4d4d;
}
div
  .skin-template-model
  .skin-template-right
  .skin-template-scroll
  ul
  .skin-list
  li
  .skin-item-act
  div
  .skin-name
  svg {
  color: #5cadee;
}
div .skin-template-model .skin-template-right .skin-template-scroll ul .skin-list-show {
  display: block;
}
#skinTipbox {
  height: 44px;
  background: #3d3d3d;
}
#skinTipbox div .container {
  margin: 0 auto;
}
#skinTipbox div .container a .btn {
  margin-right: 0;
  height: 28px;
  line-height: 28px;
  margin-top: 8px;
  margin-bottom: 8px;
  background: #b4b4b4;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border: none;
}
#skinTipbox div .container a .skin-save {
  background-color: #e33e33;
  color: #fff;
}
.skin-boxshadow {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.skin-boxshadow div .skin-massage {
  position: fixed;
  left: 50%;
  top: 320px;
}
.skin-boxshadow .skin-tip {
  display: inline-block;
  margin-left: -80px;
  padding: 16px;
  background: #515151;
  border-radius: 4px;
}
.skin-boxshadow .skin-tip span {
  font-size: 16px;
  color: #fff;
  line-height: 22px;
  margin-left: 4px;
}
.skin-boxshadow .skin-success svg {
  fill: #86ca5e;
}
.skin-boxshadow .skin-error svg {
  fill: #fff;
}
.skin-boxshadow .skin-adopt {
  width: 350px;
  height: 157px;
  margin-left: -175px;
  position: relative;
  background: #fff;
  padding: 16px 0;
  border-radius: 4px;
}
.skin-boxshadow .skin-adopt .skin-title {
  height: 24px;
  padding: 0 16px;
}
.skin-boxshadow .skin-adopt .skin-title svg {
  fill: #ff9802;
}
.skin-boxshadow .skin-adopt .skin-title span {
  font-size: 16px;
  font-weight: 600;
  color: #3d3d3d;
  line-height: 24px;
}
.skin-boxshadow .skin-adopt .skin-text {
  padding: 0 4px;
  font-size: 14px;
  color: #4d4d4d;
  line-height: 22px;
  margin-top: 15px;
  text-align: center;
}
.skin-boxshadow .skin-adopt a .adopt-vip {
  display: block;
  width: 170px;
  height: 36px;
  margin: auto;
  margin-top: 12px;
  background-color: #e33e33;
  border-radius: 4px;
  text-align: right;
  padding-right: 24px;
  font-size: 16px;
  line-height: 36px;
  position: relative;
  color: #fff;
}
.skin-boxshadow .skin-adopt a .adopt-vip img {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 24px;
  top: 4px;
}
.skin-boxshadow .skin-adopt div .skin-bt-close {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 16px;
  top: 16px;
}
.skin-boxshadow .skin-adopt div .skin-bt-close svg {
  width: 10px;
  height: 10px;
  fill: #e0e0e0;
}
.skin-boxshadow .skin-adopt div .skin-bt-close svg:hover {
  cursor: pointer;
}
#userSkin {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 9000;
}
#userSkin div .user-skin-box {
  width: 606px;
  height: 699px;
  background: #fff;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin: 7% auto 0;
  padding: 16px 24px 24px 24px;
}
#userSkin div .user-skin-box .user-skin-title {
  position: relative;
  margin-bottom: 21px;
}
#userSkin div .user-skin-box .user-skin-title span {
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
#userSkin div .user-skin-box .user-skin-title span span .vip-get {
  color: #ff5a52;
  font-size: 14px;
}
#userSkin div .user-skin-box .user-skin-title span .close-bt {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  right: 0;
  top: 9px;
}
#userSkin div .user-skin-box .user-skin-title span .close-bt:hover {
  cursor: pointer;
}
#userSkin div .user-skin-box .user-skin-title span .close-bt svg {
  display: block;
  width: 12px;
  height: 12px;
}
#userSkin div .user-skin-box .user-skin-item {
  overflow: hidden;
  margin-bottom: 21px;
}
#userSkin div .user-skin-box .user-skin-item .user-skin-left {
  width: 90px;
  float: left;
  text-align: right;
  font-weight: 500;
  color: #474747;
  line-height: 21px;
  font-size: 14px;
}
#userSkin div .user-skin-box .user-skin-item .user-skin-left span {
  color: #ff5a52;
}
#userSkin div .user-skin-box .user-skin-item .user-skin-right {
  width: calc(100% - 90px);
  float: right;
}
#userSkin div .user-skin-box .user-skin-item .user-skin-right .upload-img div {
  height: 80px;
  background: #f7f7f7;
  border: 1px solid #e4e4e4;
  padding-top: 17px;
}
#userSkin div .user-skin-box .user-skin-item .user-skin-right .upload-img div:hover {
  cursor: pointer;
}
#userSkin div .user-skin-box .user-skin-item .user-skin-right .upload-img div img {
  display: block;
  width: 24px;
  height: 24px;
  margin: auto;
}
#userSkin div .user-skin-box .user-skin-item .user-skin-right .upload-img div p {
  text-align: center;
  font-size: 14px;
  color: #6b6b6b;
  line-height: 20px;
  margin-top: 5px;
}
#userSkin div .user-skin-box .user-skin-item .user-skin-right .user-skin-tip {
  color: #999;
  line-height: 17px;
  font-size: 12px;
  margin-top: 8px;
}
#userSkin div .user-skin-box .user-skin-item .user-skin-right .user-skin-color {
  font-size: 14px;
  color: #e33e33;
  line-height: 20px;
}
#userSkin div .user-skin-box .user-skin-item-input {
  float: left;
  width: 50%;
}
#userSkin div .user-skin-box .user-skin-item-input .user-skin-left {
  line-height: 32px;
}
#userSkin div .user-skin-box .user-skin-item-input .skin-input {
  width: 100%;
  height: 32px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0 8px;
  color: #999;
}
#userSkin div .user-skin-box .user-skin-bt {
  width: 100%;
  text-align: right;
  overflow: hidden;
}
#userSkin div .user-skin-box .user-skin-bt a .bt {
  display: inline-block;
  width: 72px;
  height: 36px;
  font-size: 14px;
  border-radius: 4px;
  line-height: 22px;
  font-weight: 600;
  margin-left: 16px;
  line-height: 36px;
  text-align: center;
}
#userSkin div .user-skin-box .user-skin-bt a .user-skin-preview {
  color: #3399ea;
}
#userSkin div .user-skin-box .user-skin-bt a .user-skin-cancel {
  color: #3d3d3d;
  background: #e0e0e0;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.04);
}
#userSkin div .user-skin-box .user-skin-bt a .user-skin-refer {
  color: #fff;
  background: #e33e33;
}
#cropBox {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9100;
}
#cropBox div .crop-box {
  width: 816px;
  height: 461px;
  background: #fff;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 16px 24px 24px 24px;
}
#cropBox div .crop-box .crop-box-title {
  position: relative;
  margin-bottom: 17px;
}
#cropBox div .crop-box .crop-box-title span {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  line-height: 30px;
}
#cropBox div .crop-box .crop-box-title span .close-bt {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  right: 0;
  top: 9px;
}
#cropBox div .crop-box .crop-box-title span .close-bt:hover {
  cursor: pointer;
}
#cropBox div .crop-box .crop-box-title span .close-bt svg {
  display: block;
  width: 12px;
  height: 12px;
}
#cropBox div .crop-box .crop-img-before {
  width: 768px;
  height: 210px;
  border: 1px solid #b4b4b4;
  overflow: hidden;
}
#cropBox div .crop-box .crop-img-before img {
  width: 100%;
}
#cropBox div .crop-box .crop-zoom {
  margin: 16px 0;
  text-align: center;
}
#cropBox div .crop-box .crop-zoom a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #979797;
  line-height: 32px;
  text-align: center;
  font-size: 24px;
  color: #999;
  margin: 0 4px;
}
#cropBox div .crop-box .crop-img-after {
  overflow: hidden;
  border: 1px solid #b4b4b4;
  margin-bottom: 24px;
}
#cropBox div .crop-box .crop-img-after .final-img {
  width: 768px;
  height: 40px;
  margin: auto;
  overflow: hidden;
}
#cropBox div .crop-box .crop-bt {
  text-align: right;
}
#cropBox div .crop-box .crop-bt a {
  display: inline-block;
  width: 72px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  border-radius: 4px;
  margin-left: 16px;
}
#cropBox div .crop-box .crop-bt a .bt-prev {
  color: #3d3d3d;
  background: #e0e0e0;
}
#cropBox div .crop-box .crop-bt a .bt-next {
  color: #fff;
  background: #e33e33;
}

.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.article-list {
  border-top: 1px solid #f0f2f5;
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
.article-list * {
  word-wrap: break-word;
}
.article-list .article-item-box {
  position: relative;
  padding: 16px 24px 12px 24px;
  border-bottom: 1px solid #f0f2f5;
}
.article-list .article-item-box:hover {
  background: #f9fafc;
}
.article-list .article-item-box:hover div .opt-box {
  display: block;
}
.article-list .article-item-box:hover h4 a {
  color: #fc5531;
}
.article-list .article-item-box h4 a {
  display: block;
  padding-left: 36px;
  word-break: break-all;
  color: #555666;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}
.article-list .article-item-box h4 a span .article-type {
  margin-left: -36px;
  vertical-align: 2px;
}
.article-list .article-item-box h4 .plan-icon {
  position: relative;
}
.article-list .article-item-box h4 .plan-icon:hover {
  cursor: pointer;
}
.article-list .article-item-box h4 .plan-icon:hover .plan-tip {
  display: block;
}
.article-list .article-item-box h4 .plan-icon img {
  width: 18px;
  height: 18px;
  vertical-align: -2px;
}
.article-list .article-item-box h4 .plan-tip {
  display: none;
  position: absolute;
  width: 83px;
  height: 36px;
  text-align: center;
  font-size: 14px;
  line-height: 36px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: -16px;
  bottom: 28px;
}
.article-list .article-item-box h4 .plan-tip:after {
  position: absolute;
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px;
  border-width: 7px 7px 0 7px;
  border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
  left: 16px;
  bottom: -7px;
}
.article-list .article-item-box p .content {
  margin-top: 6px;
  font-size: 14px;
  line-height: 22px;
  white-space: normal;
  color: #999aaa;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.article-list .article-item-box img .settop {
  width: 32px;
  height: 32px;
  position: absolute;
  font-size: 40px;
  right: 0;
  top: 0;
}
.article-list .article-item-box div .opt-box {
  display: none;
  position: absolute;
  right: 24px;
  bottom: 14px;
}
.article-list .article-item-box div .opt-box .btn-opt {
  border: none;
  color: #222226;
  font-size: 14px;
  margin-left: 12px;
  background-color: transparent;
}
.article-list .article-item-box div .opt-box .btn-opt:hover {
  color: #fc5531;
}
.article-list .article-item-box div .opt-box .btn-opt[data-type='delete'] {
  color: #fc5531;
}
.article-list .article-item-box div .opt-box .btn-opt[data-type='delete']::after {
  display: none;
}
.article-list .article-item-box div .info-box {
  float: none;
  margin-top: 2px;
}
.article-list .article-item-box div .info-box p {
  margin-right: 0;
}
.article-list .article-item-box div .info-box p span {
  line-height: 24px;
}
.article-list .article-item-box div .info-box p .date {
  color: #5f6471;
}
.article-list .article-item-box div .info-box p .read-num {
  color: #5f6471;
  margin-left: 16px;
}
.article-list .article-item-box div .info-box p .read-num img {
  width: 14px;
  height: 14px;
  vertical-align: -2px;
  margin-right: 4px;
}
.article-login {
  text-align: center;
  background: #fff;
}
.collecItem-box .collecItem-type {
  background: #fff;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #f0f2f5;
}
.collecItem-box .collecItem-type span {
  font-size: 14px;
  font-weight: 400;
  color: #555666;
  margin-left: 24px;
  cursor: pointer;
}
.collecItem-box .collecItem-type span .active {
  color: #fc5531;
}
.blogFollow .blogFollow-box {
  background: #fff;
  display: none;
}
.blogFollow .blogFollow-box .active {
  display: block;
}
.blogFollow .blogFollow-type {
  background: #fff;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #f0f2f5;
}
.blogFollow .blogFollow-type span {
  font-size: 14px;
  font-weight: 400;
  color: #555666;
  margin-left: 24px;
  cursor: pointer;
}
.blogFollow .blogFollow-type span .active {
  color: #fc5531;
}
.blogFollow-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 76px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 17px 0 23px;
  border-bottom: 1px solid #f0f2f5;
}
.blogFollow-item:hover {
  background: #f9fafc;
}
.blogFollow-item:hover h4 {
  color: #5094d5;
}
.blogFollow-item .button {
  width: 80px;
  height: 28px;
  cursor: pointer;
  border: 1px solid #fc5531;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fc5531;
}
.blogFollow-item .button:hover {
  background: #fff5f2;
}
.blogFollow-item .button .active {
  border-color: #555666;
  color: #555666;
  position: relative;
  background: #fff;
}
.blogFollow-item .button .active:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 14px;
  content: '取消关注';
  background: #fff;
  color: #555666;
  line-height: 26px;
  text-align: center;
}
.blogFollow-item .blogFollow-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.blogFollow-item .blogFollow-left dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.blogFollow-item .blogFollow-left dd img {
  width: auto;
  height: 20px;
  margin-right: 0;
}
.blogFollow-item .blogFollow-left h4 {
  color: #555666;
  font-size: 18px;
  font-weight: 500;
  max-width: 500px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-wrap: break-word;
}
.blogFollow-item .blogFollow-left h4:hover {
  color: #fc5531;
}
.blogFollow-item .blogFollow-left span {
  margin-right: 16px;
  font-size: 14px;
  font-weight: 400;
  color: #555666;
}
.blogFollow-item .blogFollow-left span .active {
  font-size: 13px;
  font-weight: 400;
  color: #999aaa;
}
.blogFollow-item .blogFollow-left img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 16px;
}
.articleMeList-integration {
  display: none;
}
.articleMeList-integration .monkey-blank {
  width: 120px;
}
.collecItem-box-add {
  display: none;
}
.collecItem-box-add .active {
  display: block;
}

.align-items-center-integration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #f0f2f5;
}
.align-items-center-integration p {
  padding: 0 24px;
  margin-right: 40px;
}
.bottom-move {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  background: #fff;
}
div .pagination-box {
  padding: 16px;
  background-color: #fff;
}

.filter-box {
  padding: 0 24px;
  height: 42px;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
.filter-box .chk-box {
  color: #555666;
  cursor: pointer;
  vertical-align: middle;
}
.filter-box .chk-box [type='checkbox'] {
  margin-right: 4px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.filter-box dl .filter-sort-box {
  margin-left: auto;
}
.filter-box dl .filter-sort-box dt {
  margin-right: 8px;
  color: #999aaa;
}
.filter-box dl .filter-sort-box dd {
  margin-right: 24px;
}
.filter-box dl .filter-sort-box dd:last-child {
  margin-right: 0;
}
.filter-box dl .filter-sort-box dd a {
  color: #555666;
}
.filter-box dl .filter-sort-box dd a:hover,
.filter-box dl .filter-sort-box dd a .active {
  color: #fc5531;
}
.filter-box dl .filter-sort-box dd .rss {
  background-color: #fafafc;
  border: 1px solid #eaeaef;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 4px;
  margin: auto 0;
}
.filter-box dl .filter-sort-box dd .rss .rss-img {
  width: 10px;
  height: 10px;
  margin-right: 4px;
}
.filter-box div .breadcrumbs-box {
  color: #2e2e2e;
}
.filter-box div .breadcrumbs-box a {
  color: #2e2e2e;
}
.filter-box div .breadcrumbs-box a:hover {
  color: #ca0c16;
}
.filter-box div .breadcrumbs-box span {
  color: #4d4d4d;
}

.place-onfile-box {
  background: #fff;
  padding: 12px 0 4px 8px;
  border-top: 1px solid #f0f2f5;
}
.place-onfile-box .place-onfile-item {
  display: inline-block;
  width: 65px;
  height: 24px;
  background: #f0f0f5;
  border-radius: 4px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  color: #555666;
  font-weight: 600;
  margin-left: 16px;
  margin-bottom: 8px;
}
.place-onfile-box .place-onfile-item .active,
.place-onfile-box .place-onfile-item:hover {
  color: #fc5531;
}
.pagination-box .ui-paging-container ul {
  text-align: center;
}
.pagination-box .ui-paging-container ul li {
  border: none;
  background-color: #f7f7fc;
  color: #555665;
  border-radius: 4px;
  display: inline-block;
  margin-left: 8px;
  padding: 0;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
}
.pagination-box .ui-paging-container ul li:hover {
  cursor: pointer;
}
.pagination-box .ui-paging-container ul li .js-page-first,
.pagination-box .ui-paging-container ul li .js-page-last {
  display: none;
}
.pagination-box .ui-paging-container ul li .js-page-action:hover {
  color: #e33e33;
}
.pagination-box .ui-paging-container ul li .ui-paging-ellipse:hover {
  cursor: default;
}
.pagination-box .ui-paging-container ul li .ui-pager-disabled {
  color: #e8e8ed;
}
.pagination-box .ui-paging-container ul li .ui-pager-disabled:hover {
  cursor: default;
  border: none;
  color: #e8e8ed;
}
.pagination-box .ui-paging-container ul li[data-page]:hover {
  color: #fc5531;
  font-weight: bold;
}
.pagination-box .ui-paging-container ul li[data-page] .focus {
  color: #fff;
  background-color: #fc5531;
  font-weight: bold;
}
.pagination-box .ui-paging-container ul li[data-page] .focus:hover {
  cursor: default;
}
span .article-type {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 34px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  border-radius: 2px;
  vertical-align: 1px;
}
span .article-type .type-1 {
  color: #fc5531;
  background-color: #fff5f2;
}
span .article-type .type-2 {
  color: #67bb55;
  background-color: rgba(103, 187, 85, 0.1);
}
span .article-type .type-4 {
  color: #277ccc;
  background-color: rgba(39, 124, 204, 0.1);
}
.newcomer-guide {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.newcomer-guide .newcomer-guide-content {
  color: #fff;
}
.newcomer-guide .newcomer-guide-content .close-box {
  cursor: pointer;
}
.newcomer-guide .newcomer-guide-content .icon-close {
  fill: #fff;
  width: 10px;
  height: 10px;
}
.newcomer-guide .newcomer-guide-content .text {
  display: inline-block;
  width: 340px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
}
.newcomer-guide .newcomer-guide-content .hand {
  width: 50px;
  height: 50px;
  -webkit-animation: 1s click infinite;
  animation: 1s click infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes click {
  0% {
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
  }
  50% {
    -webkit-transform: translateY(-10px) scale(0.9, 0.9);
    transform: translateY(-10px) scale(0.9, 0.9);
  }
  100% {
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
  }
}
@keyframes click {
  0% {
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
  }
  50% {
    -webkit-transform: translateY(-10px) scale(0.9, 0.9);
    transform: translateY(-10px) scale(0.9, 0.9);
  }
  100% {
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
  }
}

.box-box-default,
.box-box-large {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 200;
  background-color: #efefef;
  text-align: right;
}
.box-box-default a .btn-remove,
.box-box-large a .btn-remove {
  padding-right: 8px;
  font-size: 12px;
}
.no-data {
  margin-top: 1px;
  padding: 80px 0;
  background-color: #fff;
}
.no-data svg .icon {
  font-size: 120px;
  color: #4d4d4d;
}
.no-data h6 {
  margin-bottom: 4px;
  font-size: 16px;
  color: #6b6b6b;
  font-weight: bold;
  letter-spacing: 2px;
}
.no-data p .remark {
  color: #349edf;
  margin-bottom: 24px;
  text-align: center;
}
.no-data p .btn-write-blog,
.newcomer-guide-content .btn {
  width: 300px;
  height: 40px;
  background: #fc5531;
  border-radius: 4px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  margin: 0;
}
.no-data p .btn-write-blog:hover,
.newcomer-guide-content .btn:hover {
  background: #fc1944;
}
.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(221, 221, 221, 0.7);
  z-index: 999;
}
.promptBox {
  display: none;
  padding: 24px;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -72px;
  width: 400px;
  height: 154px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.promptBox .title {
  margin-bottom: 16px;
}
.promptBox .title span {
  font-size: 18px;
}
.promptBox .title .Boxclose {
  line-height: 1px;
  color: #ddd;
  font-size: 12px;
}
.promptBox .title .Boxclose:hover {
  color: #999;
}
.promptBox .text {
  font-size: 14px;
  color: #4f4f4f;
  min-height: 42px;
}
.promptBox .pro-btn .clickNo {
  color: #999;
}
.promptBox .pro-btn .clickNo:hover {
  color: #666;
}
.promptBox .pro-btn .clickYes {
  margin-left: 24px;
  color: #c92027;
}
.promptBox .pro-btn .clickYes:hover {
  color: #b50c13;
}
.promptBox .pro-btn a {
  font-size: 12px;
}
.mb8 {
  margin-bottom: 8px;
}
.box-shadow {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
a {
  color: #333;
}
.pt0 {
  padding-top: 0 !important;
}
.ml8 {
  margin-left: 8px;
}
.mr8 {
  margin-right: 8px;
}
.oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}
.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
