.articlelist {
  width: 1068px;
  margin: 0 auto;
  header {
    position: relative;
  }
  header .header-content-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100px;
  }
  header .company-header-content-box {
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  header .company-header-content-box .title-box {
    padding-top: 10px;
  }
  header div .title-box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  header div .title-box .title-blog {
    font-size: 24px;
  }
  header div .title-box .title-blog a {
    color: #333;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  header div .title-box .company-title-blog {
    font-size: 28px;
  }
  header div .title-box .description {
    font-size: 14px;
    color: #858585;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  header .opt-box {
    margin-left: auto;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }
  header .opt-box div .skin-template-box {
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px 16px 18px 0;
    position: absolute;
    right: 0;
    top: 76px;
    z-index: 10;
    width: 423px;
    height: 240px;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  header .opt-box div .skin-template-box:before {
    position: absolute;
    content: '';
    right: 36px;
    top: -12px;
    margin-right: 0;
    display: block;
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: transparent transparent #fff;
  }
  header .opt-box a .btn {
    margin-right: 0;
    height: 28px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    font-size: 12px;
  }
  header .opt-box a .btn img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }
  header .corporate-blog-navigation {
    width: 100%;
    padding-left: 8px;
    margin: 0 auto;
    background-color: #fff;
  }
  header .corporate-blog-navigation li {
    display: inline-block;
  }
  header .corporate-blog-navigation li:first-child a:before {
    display: none;
  }
  header .corporate-blog-navigation li a {
    display: inline-block;
    padding: 12px 8px;
    font-size: 14px;
    color: #4d4d4d;
    line-height: 22px;
  }
  header .corporate-blog-navigation li a:hover {
    color: #ca0c16;
  }
  header .corporate-blog-navigation li a:before {
    content: ' ';
    display: inline-block;
    width: 2px;
    height: 10px;
    background-color: #ddd;
    position: relative;
    top: 0;
    left: -10px;
  }

  .container {
    margin: 0 auto;
    margin-top: 8px;
  }
  .container main {
    width: 760px;
    float: right;
  }
  header .container,
  header .corporate-blog-navigation {
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 24px;
  }
  .container-header {
    position: relative;
  }
  .container-header a .change-new-bate {
    position: absolute;
    width: 50px;
    height: 134px;
    top: 0;
    right: -50px;
  }
  .container-header a .change-new-bate img .change-new-bate-img {
    width: 100%;
  }

  .container-header-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #f0f2f5;
  }
  .container-header-ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #fff;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
  }
  .container-header-ul li .margin {
    margin: 0 26px;
  }
  .container-header-ul li .active {
    color: #fc5531;
    border-color: #fc5531;
  }
  .container-header-ul li:hover {
    color: #fc5531;
  }
  .article-list .article-item-box {
    position: relative;
    padding: 16px 24px 12px 24px;
    border-bottom: 1px solid #f0f2f5;
  }
  .article-item-box p.content {
    margin-top: 6px;
    font-size: 14px;
    line-height: 22px;
    white-space: normal;
    color: #999aaa;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .article-list .article-item-box div.info-box p .date {
    color: #5f6471;
    line-height: 24px;
  }
  aside {
    width: 300px;
    float: left;
  }
  aside .mb8 {
    margin-bottom: 8px;
  }
  aside div .aside-box {
    margin-bottom: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  }
  aside div .aside-box .custom-box img {
    max-width: 100%;
  }
  aside div .aside-box .custom-box .aside-content a:hover {
    color: #5094d5;
  }
  aside div .aside-box a {
    color: #555666;
    cursor: pointer;
  }
  aside div .aside-box h3 .aside-title {
    position: relative;
    padding: 16px 16px 0;
    font-size: 14px;
    color: #333;
    font-weight: bold;
  }
  aside div .aside-box h3 .aside-title .subscribe-column-box {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 16px 0;
  }
  aside div .aside-box h3 .aside-title .subscribe-column-box .tip-subscribe-column {
    display: inline-block;
    width: 14px;
    height: 14px;
    position: relative;
  }
  aside div .aside-box h3 .aside-title .subscribe-column-box .tip-subscribe-column:hover {
    cursor: pointer;
  }
  aside div .aside-box h3 .aside-title .subscribe-column-box .tip-subscribe-column .tip {
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 282px;
    height: 248px;
    background: #fff;
    -webkit-box-shadow: 0 -3px 4px 0 rgba(184, 184, 184, 0.43);
    box-shadow: 0 -3px 4px 0 rgba(184, 184, 184, 0.43);
    border: 1px solid #9bd2fd;
    top: 30px;
    left: -137px;
    z-index: 3000;
    text-align: justify;
    line-height: 18px;
    font-size: 12px;
    border-radius: 4px;
    color: #4d4d4d;
    padding: 16px;
    line-height: 18px;
  }
  aside div .aside-box h3 .aside-title .subscribe-column-box .tip-subscribe-column .tip .text {
    margin-bottom: 8px;
  }
  aside
    div
    .aside-box
    h3
    .aside-title
    .subscribe-column-box
    .tip-subscribe-column
    .tip
    .bt-close {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    right: 14px;
    top: 14px;
  }
  aside
    div
    .aside-box
    h3
    .aside-title
    .subscribe-column-box
    .tip-subscribe-column
    .tip
    .bt-close:hover {
    cursor: pointer;
  }
  aside
    div
    .aside-box
    h3
    .aside-title
    .subscribe-column-box
    .tip-subscribe-column
    .tip
    .bt-close
    svg {
    display: block;
    width: 10px;
    height: 10px;
    fill: #b8b8b8 !important;
  }
  aside div .aside-box h3 .aside-title .subscribe-column-box .tip-subscribe-column .tip .bar {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 130px;
    top: -7px;
  }
  aside div .aside-box h3 .aside-title .subscribe-column-box .tip-subscribe-column .tip:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 1px;
    background: #9bd2fd;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 131px;
    top: -5px;
  }
  aside div .aside-box h3 .aside-title .subscribe-column-box .tip-subscribe-column .tip:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 1px;
    background: #9bd2fd;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 131px;
    top: -5px;
  }
  aside div .aside-box h3 .aside-title .subscribe-column-box .tip-subscribe-column svg {
    width: 14px;
    height: 14px;
    vertical-align: middle;
  }
  aside div .aside-box h3 .aside-title .subscribe-column-box .bt-subscribe-column {
    display: inline-block;
    margin-left: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 65px;
    height: 24px;
    border-radius: 2px;
    border: 1px solid #ca0a16;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    color: #ca0a16;
  }
  aside div .aside-box div .aside-content {
    padding: 12px 16px 16px 16px;
    overflow: hidden;
  }
  aside div .aside-box div .aside-content .tracking-click li a {
    display: block;
    width: 100%;
    position: relative;
  }
  aside div .aside-box div .aside-content .tracking-click li a svg {
    position: absolute;
    left: 0;
    top: 3px;
  }
  aside div .aside-box div .aside-content * {
    word-wrap: break-word;
  }
  aside #asideProfile {
    padding-bottom: 10px;
  }
  aside #asideProfile .profile-intro {
    padding: 16px 16px 6px 16px;
  }
  aside #asideProfile .profile-intro .profile-intro-name-box {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  aside #asideProfile .profile-intro .profile-intro-name-box .identity {
    height: 20px;
    margin-right: 2px;
    vertical-align: bottom;
  }
  aside #asideProfile .profile-intro .profile-intro-name-boxTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  aside #asideProfile .profile-intro .profile-intro-name-boxFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  aside
    #asideProfile
    .profile-intro
    .profile-intro-name-boxFooter
    .profile-intro-name-boxOpration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
  }
  aside
    #asideProfile
    .profile-intro
    .profile-intro-name-boxFooter
    .profile-intro-name-boxOpration
    #btnAttent {
    margin-bottom: 0;
    text-decoration: none;
    width: 48px;
    height: 24px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    line-height: 22px;
  }
  aside #asideProfile .profile-intro .avatar-box {
    position: relative;
    width: 48px;
    height: 48px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  aside #asideProfile .profile-intro .avatar-box img .avatar_pic {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  aside #asideProfile .profile-intro .avatar-box .memberhead {
    width: 24px;
    height: 15px;
    position: absolute;
    top: -12px;
    left: 12px;
  }
  aside #asideProfile .profile-intro .avatar-box svg {
    width: 24px;
    position: absolute;
    top: -16px;
    left: 12px;
    display: none;
  }
  aside #asideProfile .profile-intro .user-info {
    margin-left: 8px;
    width: 156px;
    position: relative;
    padding-top: 4px;
  }
  aside #asideProfile .profile-intro .user-info .personal-home-page {
    color: #999aaa;
    font-size: 13px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
  }
  aside
    #asideProfile
    .profile-intro
    .user-info
    .personal-home-page
    a
    .personal-home-certification {
    padding-left: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  aside
    #asideProfile
    .profile-intro
    .user-info
    .personal-home-page
    a
    .personal-home-certification
    img {
    height: 14px;
    margin-right: 4px;
    vertical-align: -2px;
  }
  aside #asideProfile .profile-intro .user-info .personal-home-years {
    min-width: 54px;
  }
  aside #asideProfile .profile-intro .user-info span .name {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    height: 20px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  aside #asideProfile .profile-intro .user-info span .name:hover {
    color: #fc5531;
  }
  aside #asideProfile .profile-intro .user-info span .vip-name {
    color: #bb9444;
  }
  aside #asideProfile .profile-intro .user-info span .vip-name:hover {
    color: #fc5531;
  }
  aside #asideProfile .profile-intro .user-info #uid {
    white-space: inherit;
    margin-right: 6px;
    overflow: hidden;
  }
  aside #asideProfile .profile-intro .user-info p .name a {
    display: inline-block;
    color: #3d3d3d;
    font-weight: 700;
    max-width: 150px;
    max-height: 66px;
    overflow: hidden;
    word-wrap: break-word;
  }
  aside #asideProfile .profile-intro .user-info .flag {
    position: relative;
  }
  aside #asideProfile .profile-intro .user-info .flag .bubble {
    display: none;
    width: 134px;
    position: absolute;
    top: 28px;
    left: -42px;
    z-index: 9;
    padding: 8px 6px;
    line-height: 12px;
    text-align: center;
    background-color: rgba(15, 15, 15, 0.8);
    font-size: 12px;
    border-radius: 4px;
    color: #fff;
  }
  aside #asideProfile .profile-intro .user-info .flag .bubble:before {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px;
    border-color: transparent transparent rgba(15, 15, 15, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -7px;
  }
  aside #asideProfile .profile-intro .user-info .expert-blog:hover .bubble {
    display: block;
  }
  aside #asideProfile .profile-intro .user-info .company-blog:hover .bubble {
    display: block;
  }
  aside #asideProfile .profile-intro .opt-box {
    width: 48px;
    height: 24px;
  }
  aside #asideProfile .profile-intro .opt-box a .btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 48px;
    height: 24px;
    min-width: auto;
    font-size: 12px;
  }
  aside #asideProfile .profile-intro .opt-box a .btn#btnAsk {
    margin-bottom: 0;
  }
  aside #asideProfile .data-info {
    padding: 9px 10px;
  }
  aside #asideProfile .data-info .item-tiling dl:hover a > .font {
    color: #fc5531;
  }
  aside #asideProfile .data-info .item-tiling .count {
    color: #4a4d52;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }
  aside #asideProfile .data-info .item-tiling dd {
    color: #999aaa;
    font-size: 14px;
    line-height: 22px;
    padding: 3px 0;
  }
  aside #asideProfile .data-info .item-tiling dd .font {
    color: #222226;
  }
  aside #asideProfile .data-info .item-tiling a {
    color: #999aaa !important;
  }
  aside #asideProfile .data-info .item-tiling .level {
    width: 22px;
    height: 22px;
    vertical-align: -6px;
  }
  aside #asideProfile .item-rank {
    height: 1px;
    background-color: #f5f6f7;
    width: 268px;
    margin: auto;
  }
  aside #asideProfile .aside-box-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 16px;
  }
  aside #asideProfile .aside-box-footer .aside-box-footerClassify dt {
    display: inline;
  }
  aside #asideProfile .aside-box-footer .aside-box-footerClassify dd {
    display: inline;
  }
  aside #asideProfile .aside-box-footer .aside-box-footerClassify dd svg .icon {
    font-size: 18px;
  }
  aside #asideProfile .badge-box {
    position: relative;
    width: 100%;
  }
  aside #asideProfile .badge-box > span {
    margin-right: 2px;
  }
  aside #asideProfile .badge-box .badge {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  aside #asideProfile .badge-box .icon-badge {
    display: block;
    margin-right: 2px;
    cursor: pointer;
  }
  aside #asideProfile .badge-box .icon-badge div .mouse-box {
    position: relative;
  }
  aside #asideProfile .badge-box .icon-badge div .mouse-box img {
    width: 36px;
    height: 36px;
  }
  aside #asideProfile .grade-box {
    margin-top: -8px;
    padding: 16px;
  }
  aside #asideProfile .grade-box .visit-middle {
    width: 34%;
  }
  aside #asideProfile .grade-box dl:nth-child(odd) {
    width: 55%;
  }
  aside #asideProfile .grade-box dl:nth-child(even) {
    width: 45%;
  }
  aside #asideProfile .grade-box dl {
    margin-top: 8px;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  aside #asideProfile .grade-box dl dt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  aside #asideProfile .grade-box dl dd {
    font-weight: 600;
    margin-left: 6px;
  }
  aside #asideProfile .grade-box dl dd svg .icon {
    font-size: 18px;
  }
  aside #asideHotArticle ul .hotArticle-list {
    margin-top: -8px;
  }
  aside #asideHotArticle ul .hotArticle-list li {
    margin-top: 8px;
  }
  aside #asideHotArticle ul .hotArticle-list li a {
    display: block;
    word-wrap: break-word;
    color: #555666;
  }
  aside #asideHotArticle ul .hotArticle-list li a:hover {
    color: #fc5531;
  }
  aside #asideHotArticle ul .hotArticle-list li a .read {
    font-size: 12px;
    color: #999aaa;
    line-height: 24px;
  }
  aside #asideHotArticle ul .hotArticle-list li a img {
    width: 14px;
    height: 14px;
    vertical-align: -3px;
    margin-right: 3px;
    margin-left: 4px;
  }
  aside #asideCategory .flexible-box div .aside-content,
  aside #asideArchive .flexible-box div .aside-content {
    max-height: 255px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  aside #asideCategory ul,
  aside #asideArchive ul {
    margin-top: -12px;
    padding-left: 0;
  }
  aside #asideCategory ul li,
  aside #asideArchive ul li {
    margin-top: 12px;
  }
  aside #asideCategory ul li a,
  aside #asideArchive ul li a {
    display: block;
    color: #555666;
  }
  aside #asideCategory ul li a:hover,
  aside #asideArchive ul li a:hover {
    color: #fc5531;
  }
  aside #asideCategory ul li a .title,
  aside #asideArchive ul li a .title {
    width: 185px;
    float: left;
  }
  aside #asideCategory ul li a span .count,
  aside #asideArchive ul li a span .count {
    font-size: 12px;
    color: #999aaa;
  }
  aside #asideCategory ul li a img,
  aside #asideArchive ul li a img {
    float: left;
    width: 28px;
    height: 28px;
    margin-right: 12px;
    border-radius: 4px;
  }
  aside #asideCategory ul li .indentation,
  aside #asideArchive ul li .indentation {
    margin-left: 32px;
  }
  aside #asideCategory ul li .indentation a .title,
  aside #asideArchive ul li .indentation a .title {
    width: 153px;
    float: left;
  }
  aside #asideArchive .aside-content {
    padding: 12px 6px 16px 16px;
  }
  aside #asideArchive .archive-box {
    overflow: hidden;
    overflow-y: auto;
    margin-right: -4px;
    margin-left: -3px;
    scrollbar-width: thin;
    max-height: 248px;
    margin-top: 8px;
  }
  aside #asideArchive .archive-box::-webkit-scrollbar {
    width: 3px;
  }
  aside #asideArchive .archive-box::-webkit-scrollbar-thumb {
    width: 3px;
    height: 60px;
    background-color: rgba(153, 154, 170, 0.3);
    border-radius: 2px;
  }
  aside #asideArchive .archive-title {
    font-size: 14px;
    line-height: 22px;
    color: #4a4d52;
    margin-bottom: 8px;
    padding: 0 6px;
  }
  aside #asideArchive .archive-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  aside #asideArchive .archive-item {
    width: 56px;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 12px;
  }
  aside #asideArchive .archive-item a:hover .count {
    color: #fc5531;
  }
  aside #asideArchive .archive-item span {
    display: block;
  }
  aside #asideArchive .archive-item span .time {
    height: 22px;
    background-color: #edf0f3;
    border-radius: 6px 6px 0 0;
    opacity: 0.8;
    color: #999aaa;
    line-height: 22px;
    margin-bottom: 1px;
    text-align: center;
  }
  aside #asideArchive .archive-item span .count {
    height: 22px;
    background-color: #f6f8fa;
    border-radius: 0 0 6px 6px;
    color: #555666;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
  }
  aside #asideArchive .archive-bar {
    background: #f0f0f0;
    height: 1px;
    margin: 12px 0;
  }
  aside #asideArchive .archive-list-item {
    padding: 4px 0 4px 6px;
    width: 50%;
    float: left;
  }
  aside #asideArchive .archive-list-item:hover .year,
  aside #asideArchive .archive-list-item:hover .num {
    color: #fc5531;
  }
  aside #asideArchive .archive-list-item .year,
  aside #asideArchive .archive-list-item .num {
    color: #4a4d52;
    line-height: 22px;
  }
  aside #asideArchive .archive-list-item .year {
    margin-right: 8px;
  }
  aside #asideCategory ul {
    margin-top: -16px;
  }
  aside #asideCategory ul li {
    margin-top: 16px;
  }
  aside #asideCategory ul li a {
    line-height: 28px;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
  }
  aside #asideCategory ul li a .title {
    width: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  aside #asideCategory ul li a .title .text {
    max-width: 155px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    margin-right: 8px;
    font-size: 14px;
  }
  aside #asideCategory ul li a .title .tip {
    width: 24px;
    height: 14px;
    vertical-align: middle;
    float: none;
    border-radius: 0;
  }
  aside #asideCategory ul li a span .count {
    max-width: 42px;
  }
  aside #asideNewComments ul .newcomment-list {
    margin-top: -10px;
  }
  aside #asideNewComments ul .newcomment-list li {
    margin-top: 8px;
  }
  aside #asideNewComments ul .newcomment-list li .title {
    line-height: 22px;
    margin-bottom: 2px;
    color: #999aaa;
    display: block;
  }
  aside #asideNewComments ul .newcomment-list li .title:hover {
    color: #fc5531;
  }
  aside #asideNewComments ul .newcomment-list li p .comment {
    font-size: 14px;
    color: #555666;
    word-wrap: break-word;
    vertical-align: top;
    display: block;
    word-break: break-all;
  }
  aside #asideNewComments ul .newcomment-list li p .comment:before {
    height: 18px;
  }
  aside #asideNewComments ul .newcomment-list li p .comment img {
    width: 16px;
  }
  aside #asideNewComments ul .newcomment-list li p .comment a .user-name {
    color: #555666;
  }
  aside #asideNewComments ul .newcomment-list li p .comment a .user-name:hover {
    color: #fc5531;
  }
  aside #asideNewComments ul .newcomment-list li p .comment .reply {
    color: #999;
    font-size: 12px;
  }
  aside #asideSearchArticle .search-comter {
    padding: 0 16px;
  }
  aside #asideSearchArticle .aside-search {
    height: 32px;
    border-radius: 5px;
    background: #f0f0f5;
    margin: 8px 0;
    position: relative;
  }
  aside #asideSearchArticle .aside-search .input-serch-blog {
    font-size: 14px;
    color: #555666;
    display: block;
    float: left;
    width: 226px;
    padding-left: 16px;
    border: 0;
    height: 32px;
    border-radius: 5px;
    background: 0 0;
  }
  aside #asideSearchArticle .aside-search input::-webkit-input-placeholder {
    color: #555666;
  }
  aside #asideSearchArticle .aside-search input::-moz-input-placeholder {
    color: #555666;
  }
  aside #asideSearchArticle .aside-search input::-ms-input-placeholder {
    color: #555666;
  }
  aside #asideSearchArticle .aside-search .btn-search-blog {
    background-color: #e8e8ee;
    color: #ccc;
    font-size: 14px;
    display: block;
    text-align: center;
    width: 32px;
    height: 32px;
    float: right;
    line-height: 32px;
    margin-top: 0;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  aside #asideSearchArticle .aside-search .btn-search-blog img {
    width: 32px;
    height: 32px;
  }
  aside #asideSearchArticle .aside-search .btn-search-blog-active {
    background-color: #fc5531;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }
  aside .flexible-box div .aside-content {
    padding-bottom: 0 !important;
  }
  aside .flexible-box a .flexible-btn {
    display: block;
    padding: 10px;
  }
  aside .flexible-box a .flexible-btn img {
    width: 12px;
    height: 7px;
  }
  .article-list-integration-item {
    background: #fff;
    padding: 12px 24px;
    border-bottom: 1px solid #f0f2f5;
  }
  .article-list-integration-item .active {
    padding: 0;
    border-bottom: none;
  }
  .article-list-integration-item .integration-item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 12px 24px;
    border-bottom: 1px solid #f0f2f5;
    height: 90px;
  }
  .article-list-integration-item .integration-item-content .button {
    width: 80px;
    height: 28px;
    cursor: pointer;
    border: 1px solid #fc5531;
    border-radius: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fc5531;
  }
  .article-list-integration-item .integration-item-content .button:hover {
    background: #fff5f2;
  }
  .article-list-integration-item .integration-item-content .button .active {
    border-color: #555666;
    background: #fff;
    color: #555666;
    position: relative;
  }
  .article-list-integration-item .integration-item-content .button .active:hover::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 14px;
    content: '取消关注';
    background: #fff;
    color: #555666;
    line-height: 26px;
    text-align: center;
  }
  .article-list-integration-item .item-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .article-list-integration-item .item-top h4 {
    margin-bottom: 0;
    margin: 0 8px;
  }
  .article-list-integration-item .item-top img {
    width: 22px;
    height: 18px;
  }
  .article-list-integration-item .item-top img .active {
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
  .article-list-integration-item .Favorite-bottom-box {
    display: none;
  }
  .article-list-integration-item .Favorite-bottom-box .active {
    display: block;
  }
  .article-list-integration-item .Favorite-bottom-box-item {
    height: 82px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fbfbfb;
    padding: 18px 48px;
    border-bottom: 1px solid #f0f2f5;
  }
  .article-list-integration-item .Favorite-bottom-box-item .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .article-list-integration-item .Favorite-bottom-box-item .title > a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .article-list-integration-item .Favorite-bottom-box-item .title span {
    background: #fff5f2;
    border-radius: 2px;
    display: inline-block;
    height: 18px;
    padding: 0 4px;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    color: #fc5531;
    margin-right: 8px;
  }
  .article-list-integration-item .Favorite-bottom-box-item .title h4 {
    font-size: 16px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #555666;
    line-height: 22px;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .article-list-integration-item .Favorite-bottom-box-item .title h4:hover {
    color: #fc5531;
  }
  .article-list-integration-item .Favorite-bottom-box-item .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .article-list-integration-item .Favorite-bottom-box-item .content span {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #5f6471;
    line-height: 20px;
    margin-right: 16px;
  }
  .article-list-integration-item .collecItem-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 8px;
  }
  .article-list-integration-item .collecItem-bottom span {
    font-size: 14px;
    font-weight: 400;
    color: #555666;
  }
  .article-list-integration-item .collecItem-bottom span:nth-child(1) {
    margin-right: 16px;
  }
  .article-list-integration-item .blink-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 16px;
  }
  .article-list-integration-item .blink-bottom .blink-bottom-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .article-list-integration-item .blink-bottom .blink-bottom-p img {
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }
  .article-list-integration-item .blink-bottom .blink-bottom-p span {
    margin-right: 18px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #5f6471;
  }
  .article-list-integration-item .desc-img {
    width: 180px;
    height: 180px;
  }
  .article-list-integration-item .desc-img img {
    width: 100%;
    height: 100%;
  }
  .article-list-integration-item:hover {
    background: #f9fafc;
  }
  .article-list-integration-item:hover h4 {
    color: #fc5531;
  }
  .article-list-integration-item h4 {
    color: #555666;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
    word-wrap: break-word;
  }
  .article-list-integration-item .desc {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    color: #999aaa;
    margin-bottom: 8px;
  }
  .article-list-integration-item .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .article-list-integration-item .bottom-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .article-list-integration-item .tag {
    margin-right: 32px;
  }
  .article-list-integration-item .tag a {
    height: 18px;
    border-radius: 9px;
    line-height: 18px;
    padding: 0 6px;
    font-size: 12px;
    color: #5f6471;
    border: 1px solid #ccc;
  }
  .article-list-integration-item .text {
    color: #5f6471;
  }
  .article-list-integration-item .time {
    color: #5f6471;
    font-size: 13px;
  }
  .article-list-integration-item .time span {
    margin-right: 8px;
  }
  .aside-box {
    margin-bottom: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
  }
  aside div.aside-box h3.aside-title {
    position: relative;
    padding: 16px 16px 0;
    font-size: 14px;
    color: #333;
    font-weight: bold;
  }
  aside #asideHotArticle ul.hotArticle-list {
    margin-top: -8px;
    padding-left: 0;
  }
  aside #asideHotArticle ul.hotArticle-list li a {
    display: block;
    word-wrap: break-word;
    color: #555666;
    font-size: 14px;
    line-height: 24px;
  }
  aside #asideHotArticle ul.hotArticle-list li .read {
    font-size: 12px;
    color: #999aaa;
    line-height: 24px;
  }
  aside div.aside-box div.aside-content {
    padding: 12px 16px 16px 16px;
    overflow: hidden;
  }
  .container-header-ul li.margin {
    margin: 0 26px;
  }
  .container-header-ul li.active {
    color: #fc5531;
    border-color: #fc5531;
  }
  @media screen and (max-width: 1200px) {
    #asideFooter {
      position: unset !important;
    }
  }
  @media screen and (max-width: 1200px) {
    div .customize {
      display: none;
    }
  }
  @media screen and (min-width: 1366px) {
    .nodata .container {
      width: 1366px;
    }
    .nodata .container main {
      width: 1010px;
    }
    .nodata header .container {
      width: 1366px;
    }
    .nodata header .corporate-blog-navigation {
      width: 1318px;
    }
  }
  @media screen and (max-width: 1366px) {
    .nodata .container {
      width: 1116px;
    }
    .nodata .container main {
      width: 760px;
    }
    .nodata header .container {
      width: 1116px;
    }
    .nodata header .corporate-blog-navigation {
      width: 1068px;
    }
  }
}
