$blue:#324157;
$light-blue:#3A71A8;
$red:#ff0000;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;

//goods
$priceColor: #F30C23;

$fontCurSkuColor:#F21228;
$bgCurSkuColor:#FFEEF0;
$bdCurSkuColor:#F21228;
$fontSkuColor:#333;
$bgSkuColor:#F2F2F2;
$bdSkuColor:#F2F2F2;

$fontDefault:#F30C23;
$fontTry: #3F90EE;
$fontBaoY: #ff4d00;
$fontMiaoS: #ff8a00;
$fontZhouQG: #FC9117;
$fontPingT: #ff4e5f;
$fontKanj: #58c09b;
$fontXianSZ: #a67ffb;
$fontTuanG: #ff4e9d;
$fontJiXj: #ccbd1a;
$fontFuGYH: #2BC26E;
$fontYuS: #aa4eff;
$fontPaiM: #1dc153;
$fontXianSG: #FC9117;
$fontXianJiZ: #653BE2;


$bgDefault:#FFF0F1;
$bgTry: #F0F8FF;
$bgBaoY: #ffede5;
$bgMiaoS: #ffebe0;
$bgZhouQG: #FFF8F0;
$bgPingT: #ffecee;
$bgKanj: #cef4e6;
$bgXianSZ: #f2ecff;
$bgTuanG: #ffecf7;
$bgJiXj: #feffe0;
$bgFuGYH: #F0FFFA;
$bgYuS: #fcecff;
$bgPaiM: #deffec;
$bgXianSG: #FFF8F0;
$bgXianJiZ: #F4F0FF;

//sidebar
$mainColor: #ff7e00;
$danger: #e60012;
$disabled: #ccc;
$default: #fff;
$warning: #F42B2B;
$newMain: #F30C23;
